body {
  height: 100vh;
}
body .bg-dark {
  background-color: #001b2f !important;
}

.title {
  padding: 30px;
  text-align: center;
}

.brand-text {
  font-weight: bold;
  color: #12578b;
}

#main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 300px;
}
